<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="icon" href="../img/icons/favicon.ico">
  <link rel="stylesheet" href="../lib/bootstrap-5.0.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/thanks.css">
 

  <title>Eloy Dev</title>



</head>

<body onload="redirectToHome()">

  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-12">
              <div class="thanks">
                <h1 data-i18n="thanks.messageSent">Mensaje enviado</h1>
                <h2 data-i18n="thanks.thankYou">¡Gracias!</h2>
              </div>
          </div>
      </div>
  </div>

  
  <script src="../lib/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/i18next@23.16.8/dist/umd/i18next.min.js"></script>
  <script src="https://unpkg.com/i18next-http-backend@2.6.2/i18nextHttpBackend.min.js"></script>
  <script src="https://unpkg.com/i18next-browser-languagedetector@8.0.0/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="../js/i18n.js"></script>
  <script src="../js/redirect-page.js"></script>
 

</body>

</html>


